@import '../utils.scss';

//.crispr-table {
//  width: 100%;
//  max-width: 100%;
//  margin-bottom: 20px;
//  th {
//    border-bottom: none;
//    border-top: none;
//    border-right: 1px solid #dddddd;
//    padding: 6px 26px 6px 6px;
//    line-height: 15px;
//    font-weight: 300;
//    font-size: 1.2em;
//    &.sorting_asc::after {
//      color: #0091EB;
//      content: '\f0de'
//    }
//    &.sorting_desc::after {
//      color: #0091EB;
//      content: '\f0de'
//    }
//  }
//}

.dom-table-header {
  margin-bottom: 30px;
}

.crispr-table {
  > thead > tr > th {
    border-bottom: none;
    border-top: none;
    border-right: 1px solid #DDD;
    padding: 6px;
    padding-right: 26px;
    line-height: 15px;
    font-weight: 300;
    font-size: 16px;
  }

  thead th:last-child {
    border-right: none;
  }

  tbody {
    font-size: 12px;

    tr {
      &:hover {
        background-color: #eef5ee !important;
      }

      td {
        // padding: 8px 8px 16px 8px; /* allow extra padding at the bottom of each row */
        line-height: 14px;
        border-top: none !important;
      }
      &.odd {
        background-color: #f3f3f3;
      }
    }
  }

  .badge {
    background: #DDD;
    color: #777;
  }

  tfoot > tr.filter-row > th {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    font-weight: normal;
  }

  ul {
    padding-left: 15px;
  }

  button.column-filter {
    // background-color: $clr-ui-foreground;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    width: 100%;
    table-layout: fixed;
    display: table;
    span.filter-label {
      display: table-cell;
      white-space: normal;
    }
    span.fa {
      line-height: inherit;
    }
  }

}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
