// General elements
// Blue in masthead
$primary-color: #1A1110;
$secondary-color: #003F83;

$color-gene : #00a113;
$color-text-secondary: #666666;
$color-background-light: #F5F7FC;

$bg-light: #f4f4f4;
$font-color: #666666;
