@import '../utils.scss';

.container {
  -ms-flex-align: start;
  align-items: flex-start;

  .header-container {
    margin-top: 70px;
    .col-genes {
      color: $color-gene;
    }
    .secondary {
      color: $color-text-secondary;
    }
  }
}
