::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a3a3;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a3a3a3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a3a3a3;
}

.header-container {
  margin-top: 70px;
}
.header-container .depMap-name {
  font-weight: bold;
}
.header-container .genes-subname {
  font-weight: 100;
}
.header-container .col-genes {
  color: #00a113;
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
}

.jumbotron-heading {
  font-weight: 300;
}
