@import '../utils.scss';

//.container {
//  -ms-flex-align: start;
//  align-items: flex-start;
//
.header-container {
  color: white;

  margin-top: 70px;

  .depMap-name {
    font-weight: bold;
  }

  .genes-subname {
    font-weight: 100;
  }

  .col-genes {
    color: $color-gene;
  }
}

//}
