@import '../utils.scss';

//.container {
//  -ms-flex-align: start;
//  align-items: flex-start;
//
.header-container {
  margin-top: 70px;

  .depMap-name {
    font-weight: bold;
  }

  .genes-subname {
    font-weight: 100;
  }

  .col-genes {
    color: $color-gene;
  }
}

//}
.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff
}
.jumbotron-heading {
  font-weight: 300
}
