.essentialities-plot-container {
  position: relative;
  height: 350px;
}
.essentialities-plot-container .star-plot-toplevel-container {
  position: absolute;
  left: 0;
  top: 0;
}
.essentialities-plot-container .star-plot-toplevel-container.leave-space {
  margin-left: 50px;
}
.essentialities-plot-container .star-plot-toplevel-container.top {
  z-index: 2;
}
.essentialities-plot-container .star-plot-toplevel-container rect {
  opacity: 0;
  margin-left: 50px;
  margin-top: -50px;
}

.leave-space {
  margin-left: 50px;
}
.leave-space path {
  fill: none;
  stroke: #003f83;
  stroke-width: 2px;
}
