@import '../utils.scss';

@mixin input-icon ($right) {
  position: absolute;
  line-height: inherit;
  width: 34px;
  height: 34px;
  padding: 6px 0 6px 0;
  top: 0;
  text-align: center;
  right: $right
}

.searchbox-container {
  position:relative;
  max-width: 530px;
  margin: 0 auto;
  font-size: 1.2em;

  .autosuggest-container {
    position: relative;
    display: table;
    border-collapse: separate;

    input {
      outline: none;
      width: 30em;
      padding: 5px;
      background-color: $color-background-light;
      border: none;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
    }

  }

  .search-icon {
    // position: absolute;
    //right: 10px;
    //top: 0;
    //line-height: inherit;
    //height: 34px;
    //width: 34px;
    //padding: 6px 0 6px 0;
    @include input-icon(10px);
  }

  .progress-spinner {
    //position: absolute;
    //right: 35px;
    //top: 0;
    //line-height: inherit;
    //padding: 6px 0 6px 0;
    //z-index: 2;
    pointer-events: none;
    //text-align: center;
    //width: 34px;
    //height: 34px;
    @include input-icon(35px);
  }

  .listbox {

  }

  .intro-search-examples {
    margin-top: 10px;
    font-size: 0.8em;
    color: $color-text-secondary;
    a {
      color: $secondary-color;
      margin-left: 10px;
    }
  }

}




//// .search-suggestion-box {
//#react-autowhatever-1 {
//  color: #5c5a69;
//  position: absolute;
//  background: #FFF;
//  //width: 100%;
//  border: 1px solid #CCC;
//  border-radius: 4px;
//  padding: 5px;
//  margin: 2px 0 0;
//  list-style: none;
//  font-size: 14px;
//  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//  background-clip: padding-box;
//  z-index: 10;
//}



