::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a3a3;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a3a3a3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a3a3a3;
}

.section {
  margin-bottom: 50px;
}

.searchbox-container {
  position: relative;
  max-width: 530px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 1.3em;
}
.searchbox-container .z1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.searchbox-container .autosuggest-container {
  position: relative;
  width: 100%;
  display: table;
  border-collapse: separate;
}
.searchbox-container
  .autosuggest-container
  .react-autosuggest__suggestions-container--open {
  position: absolute;
  z-index: 1000;
  font-size: 0.8em;
  width: 100%;
  background-color: white;
  border: 1px solid #f8f9fa;
  padding: 10px;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 2px;
}
.searchbox-container .autosuggest-container .search-suggestion-box {
  padding: 2px 10px 2px 10px;
}
.searchbox-container .autosuggest-container .suggestions-description {
  margin-left: 15px;
  color: #a3a3a3;
}
.searchbox-container
  .autosuggest-container
  .react-autosuggest__section-container {
  margin-bottom: 15px;
}
.searchbox-container
  .autosuggest-container
  .react-autosuggest__suggestions-list {
  list-style-type: none;
  padding: 5px;
  margin: 0;
}
.searchbox-container
  .autosuggest-container
  .react-autosuggest__suggestion--highlighted {
  background-color: #f2f8ec;
}
.searchbox-container .autosuggest-container a {
  text-decoration: none;
}
.searchbox-container .autosuggest-container input {
  border: 1px solid green;
  outline: none;
  width: 100%;
  color: #666666;
  padding: 5px 5px 5px 15px;
  background-color: #f2f8ec;
  border-radius: 5px;
  height: 3.5rem;
}
.searchbox-container .search-icon {
  color: #469d32;
  position: absolute;
  line-height: inherit;
  width: 34px;
  height: 34px;
  padding: 6px 25px 6px 0;
  top: 0;
  text-align: center;
  right: 0;
  font-size: 1.5em;
  margin-right: 5px;
}
.searchbox-container .progress-spinner {
  pointer-events: none;
  color: #469d32;
  position: absolute;
  line-height: inherit;
  width: 34px;
  height: 34px;
  padding: 6px 25px 6px 0;
  top: 0;
  text-align: center;
  right: 35px;
  font-size: 1.5em;
  margin-right: 5px;
}
.searchbox-container .intro-search-examples {
  margin-top: 20px;
  font-size: 0.8em;
}
.searchbox-container .intro-search-examples a {
  margin-left: 8px;
}
