.searchbox-container {
  position: relative;
  max-width: 530px;
  margin: 0 auto;
  font-size: 1.2em;
}
.searchbox-container .autosuggest-container {
  position: relative;
  display: table;
  border-collapse: separate;
}
.searchbox-container .autosuggest-container input {
  outline: none;
  width: 30em;
  padding: 5px;
  background-color: #f5f7fc;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.searchbox-container .search-icon {
  position: absolute;
  line-height: inherit;
  width: 34px;
  height: 34px;
  padding: 6px 0 6px 0;
  top: 0;
  text-align: center;
  right: 10px;
}
.searchbox-container .progress-spinner {
  pointer-events: none;
  position: absolute;
  line-height: inherit;
  width: 34px;
  height: 34px;
  padding: 6px 0 6px 0;
  top: 0;
  text-align: center;
  right: 35px;
}
.searchbox-container .intro-search-examples {
  margin-top: 10px;
  font-size: 0.8em;
  color: #666666;
}
.searchbox-container .intro-search-examples a {
  color: #003f83;
  margin-left: 10px;
}
