@import '../utils.scss';

@mixin input-icon ($right) {
  color: $background-main;
  position: absolute;
  line-height: inherit;
  width: 34px;
  height: 34px;
  padding: 6px 25px 6px 0;
  top: 0;
  text-align: center;
  vertical-align: middle;
  right: $right;
  font-size: 1.2em;
  // margin-right: 5px;
}


.searchbox-masthead-container {
  position: relative;
  margin: 0 auto;
  font-size: 1em;
  display: table;

  .z1 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  .autosuggest-container {
    position: relative;
    width: 100%;
    display: table;
    border-collapse: separate;

    .react-autosuggest__suggestions-container--open {
      position: absolute;
      z-index: 1000;
      font-size: 0.8em;
      width: 100%;
      background-color: white;
      border: 1px solid #f8f9fa;
      padding: 10px;
      border-radius: 2px;
      overflow: hidden;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-top: 2px;
    }

    .search-suggestion-box {
      padding: 2px 10px 2px 10px;
    }

    .suggestions-description {
      margin-left: 15px;
      color: $font-color-light;
    }

    .react-autosuggest__section-container {
      margin-bottom: 15px;
    }

    .react-autosuggest__suggestions-list {
      list-style-type: none;
      padding: 5px;
      margin: 0;
    }

    .react-autosuggest__suggestion--highlighted {
      background-color: $background-lightest;
    }

    a {
      text-decoration: none;
    }

    input {
      border: 1px solid green;
      outline: none;
      // width: 100%;
      color: $font-color;
      padding: 5px 5px 5px 15px;
      background-color: $background-lightest;
      //border-bottom-left-radius: 10px;
      //border-top-right-radius: 10px;
      border-radius: 5px;
      // height: 1.5rem;
    }

  }

  .progress-spinner {
    pointer-events: none;
    @include input-icon(0);
  }
}