.card.models {
  border-top: 5px solid #6A2E71; }
.card.models .card-img-top {
  border-radius: 0; }
.card.models h4.card-title {
  font-weight: 500; }
.card.models .btn {
  background: white;
  color: #6A2E71;
  border: 1px solid #6A2E71; }

.card.drugs {
  border-top: 5px solid #0098B8; }
.card.drugs .card-img-top {
  border-radius: 0; }
.card.drugs h4.card-title {
  font-weight: 500; }
.card.drugs .btn {
  background: white;
  color: #0098B8;
  border: 1px solid #0098B8; }

.card.genes {
  border-top: 5px solid #00A113; }
.card.genes .card-img-top {
  border-radius: 0; }
.card.genes h4.card-title {
  font-weight: 500; }
.card.genes .btn {
  background: white;
  color: #00A113;
  border: 1px solid #00A113; }

.card.analytics {
  border-top: 5px solid #F75C03; }
.card.analytics .card-img-top {
  border-radius: 0; }
.card.analytics h4.card-title {
  font-weight: 500; }
.card.analytics .btn {
  background: white;
  color: #F75C03;
  border: 1px solid #F75C03; }
