::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a3a3;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a3a3a3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a3a3a3;
}

.gene-info-container .gene-info-section {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
}
.gene-info-container .gene-info-section .gene-info-section-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
