@import '../utils.scss';

.gene-info-container {
  padding: 10px;
  .gene-info-section {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $bg-light;
    .gene-info-section-header {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}