::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a3a3;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a3a3a3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a3a3a3;
}

body {
  font-size: 1em;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.page-header {
  margin-top: 20px;
  margin-bottom: 30px;
}
