.footer {
  padding-bottom: 20px;
  padding-top: 20px;
  .footer-header {
    margin-bottom: 20px;
    font-size: 1em;
  }

  .footer-item {
    font-size: 0.9em;
    margin-top: 7px;
    margin-bottom: 5px;
  }
}
